@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
#cssmenu a {
  line-height: 1.1;
}
#cssmenu {
  width: 220px;
}
#cssmenu > ul > li > a {
  padding-right: 40px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  background: #bd0e36;
  color: #ffffff;
  border-bottom: 1px solid #5e071b;
  text-transform: uppercase;
}
#cssmenu > ul > li > a > span {
  background: #ed1144;
  padding: 10px;
  display: block;
  font-size: 13px;
  font-weight: 300;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.active > a {
  color: #fff;
}
#cssmenu > ul > li.active > a span {
  background: #bd0e36;
}
#cssmenu span.cnt {
  position: absolute;
  top: 8px;
  right: 15px;
  padding: 0;
  margin: 0;
  background: none;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
}
#cssmenu ul ul li {
  border: 1px solid #e0e0e0;
  border-top: 0;
}
#cssmenu ul ul a {
  padding: 8px;
  display: block;
  color: #ed1144;
  font-size: 13px;
}
#cssmenu ul ul a:hover {
  color: #bd0e36;
}
#cssmenu ul ul li.odd {
  background: #f4f4f4;
}
#cssmenu ul ul li.even {
  background: #fff;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	font-family:Sans-serif;
	line-height: 1.5em;
}
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
	background: #64abde;
}
#nav {
	position: absolute;
	top: 100px;
	left: 0;
	bottom: 0;
	width: 220px;
	overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
	background: #eb8fa4;

}
#logo {
	padding:10px;
}
main {
	position: fixed;
	top: 100px; /* Set this to the height of the header */
	left: 230px;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #fff;
}
.innertube {
	margin: 15px; /* Provides padding for the content */
	width: 600;
}
p {
	color: #555;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul a {
	color: darkgreen;
	text-decoration: none;
}
/*IE6 fix*/
		* html body {
	padding: 100px 0 0 230px; /* Set the first value to the height of the header and last value to the width of the nav */
}
* html main {
	height: 100%;
	width: 100%;
}